@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.centering {
    display: table;
    width: 100%;
}
.centering > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2016

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #898989;
    -webkit-transition: color 300ms ease-in-out;
}
:-moz-placeholder {
    color: #898989;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.placeholder {
    color: #898989;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
:focus::-webkit-input-placeholder {
    color: transparent
}
:focus::-moz-placeholder {
    color: transparent
}
:focus:-moz-placeholder {
    color: transparent
}
:focus:-ms-input-placeholder {
    color: transparent
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    position: relative;
    min-height: 100%;
    max-width: 1920px;
    margin: 0  auto;
    font-family: 'PT Sans', sans-serif;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 140px;
}
.site__header {
    height: 125px;
    background-color: #fff;
    z-index: 3;
}
.site__header-layout{
    position: relative;
    width: 940px;
    padding-top: 71px;
    height: inherit;
    margin: 0 auto;
    z-index: 3;
}
.header__menu{
    text-align: right;
}
.header__menu a{
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 16px;
    color: #000;
    margin-left: 20px;
    text-decoration: underline;
}
.header__menu a:hover{
    text-decoration: none;
}
a.site__header-present{
    margin-left: 104px;
}
a.site__header-present:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -44px;
    width: 31px;
    height: 21px;
    background:url(../img/present.png) no-repeat;
    background-size: contain;
}
a.site__header-town{
    text-decoration: none;
    border-bottom: 1px dotted #000;
    margin-right: 100px;
    padding-bottom: 4px;
    transition: border .3s ease;
}
a.site__header-town:after{
    content: "";
    position: absolute;
    top: 5px;
    right: -18px;
    width: 14px;
    height: 8px;
    background: url(../img/town-down.png) no-repeat;
    background-size: contain;
}
a.site__header-town:hover{
   border: none;
}
.site__content {
    position: relative;
    z-index: 2;
    max-width: 1920px;
    margin: 0 auto;
}
.site__inner{
    position: relative;
    border-top: 1px solid #e2e2e2;
    background-color: #f8f8f8;
}
.site__layout{
    position: relative;
    width: 940px;
    padding-top: 26px;
    padding-right: 300px;
    min-height: 541px;
    margin: 0 auto;
    text-align: left;
}
.site__footer {
    background: #003669;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
}
.site__footer-layout {
    position: relative;
    width: 940px;
    height: 140px;
    margin: 0 auto;
    padding-top: 24px;
}
.site__footer-copyright{
    position: absolute;
    bottom: 24px;
    left: 0;
    color: #fff;
}
.site__footer-copyright span{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
}
.site__footer-copyright a{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #fff;
    cursor: default;
}
.site__footer-copyright a:last-child:hover{
    text-decoration: underline;
    cursor: pointer;
}
.site__footer-pay{
    display: inline-block;
    vertical-align: top;
    color: #fff;
}
.site__footer-pay span{
    display: block;
    font-size: 18px;
    margin-bottom: 19px;
}
.site__footer-pay .visa,
.site__footer-pay .master-cart{
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    height: 42px;
    background: url("../img/pay01.png") no-repeat ;
    background-size: contain;
    transition: opacity .3s ease;

}
.site__footer-pay .visa{
    background: url("../img/pay02.png") no-repeat ;
    background-size: contain;
    margin-left: 10px;
}
.site__footer-pay .visa:hover,
.site__footer-pay .master-cart:hover{
    opacity: 0.7;
}
.footer__menu{
    display: inline-block;
    vertical-align: top;
    width: 443px;
    text-align: justify;
    margin-right: 32px;
}
.footer__menu a{
    color: #fff;
    margin-right: 24px;
    letter-spacing: 0.9px;
}
.footer__menu a:hover{
    text-decoration: underline;
}
.site__title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}
.site__title_inner{
    margin-bottom: 20px;
    text-align: left;
}
.step-item__descr{
    font-size: 16px;
}
.step-item__selects{

}
.step-item__selects form {
    margin-bottom: 28px;
}
.step-item__selects form label {
    position: relative;
    display: inline-block;
    width: 138px;
    height: 132px;
    background-color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #dadada;
}
.step-item__selects form label > span{
    position: absolute;
    font-size: 14px;
    bottom: 19px;
    text-align: center;
    line-height: 17px;
    display: block;
    left: 50%;
    margin-left: -21px;
    width: 45px;
}
.step-item__selects form .step-item__service1 > span{
    width: 129px;
    display: block;
    margin-left: -63px;
}
.step-item__selects form input{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 138px;
    height: 132px;
}
.step-item__selects form label:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    bottom: 45px;
}
.step-item__selects form .step-item__service1:before{
    background: url("../img/services1.png") no-repeat 50% 50%;
    bottom: 55px;
}
.step-item__selects form .step-item__service2:before{
    background: url("../img/services2.png") no-repeat 50% 50%;
    bottom: 54px;
}
.step-item__selects form .step-item__service3:before{
    background: url("../img/services3.png") no-repeat 50% 50%;
    bottom: 50px;
}
.step-item__selects form .step-item__service4:before{
    background: url("../img/services4.png") no-repeat 50% 50%;
    bottom: 50px;
}

.step-item__selects form label:after{
    content: "";
    left: -2px;
    top: -2px;
    position: absolute;
    border: 2px solid #038e48;
    width: 136px;
    height: 130px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.step-item__selects form label.active:after {
    opacity: 1;
}
.step-item__selects-price{
    font-size: 18px;
    color: #25975a;
}
/* --------------- /site --------------- */

/* --------------- slider --------------- */
.slider {
    position: relative;
    margin: 0 auto 26px;
    overflow: hidden;
}
.slider__layout {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
    margin: 0 auto;
}
.slider .slider__icon {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    bottom: 35px;
    text-align: center;
}
.slider__ban {
    position: absolute;
    top: 0;
    width: 330px;
    height: 576px;
    left: 50%;
    margin-left: 147px;
    z-index: 4;
    color: #fff;
}
.ban__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 572px;
    background: rgba(126, 167, 126, 0.55);
    padding: 34px 22px 0 22px;
    text-align: center;
    z-index: 3;
}
.ban__item h2 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 12px;
    font-weight: 400;
}
.ban__item h3 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 28px;
    padding-bottom: 36px;
}
.ban__item h3:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 112px;
    left: 50%;
    margin-left: -56px;
    height: 1px;
    background: #fff;
}
.ban__item>span {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 27px;
}
.ban__item input{
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px;
    margin-bottom: 16px;
}
.swiper-pagination-clickable span {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: #717171;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    opacity: 1;
    transition: background .3s ease, border .3s ease;

}
.swiper-pagination-clickable span:hover {
    background: #fff;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff !important;
}
/* --------------- /slider --------------- */

/* --------------- /let-do --------------- */
.let-do{
    width: 940px;
    margin: 0 auto 30px;
}
.let-do__item{
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    padding-left:80px;
    padding-right:20px;
    width: 33%;
    margin-bottom: 34px;
}
.let-do__item_bg{
    background-position: 9px 1px;
}
.let-do__item span:first-child{
    display: block;
    vertical-align: top;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: -0.5px;
}
.let-do__item span:last-child{
    font-size: 16px;
    line-height: 18px;
}
/* --------------- /let-do --------------- */

/* --------------- what-exactly --------------- */
.what-exactly{
    width: 945px;
    margin: 0 auto 25px;
}
.what-exactly__item {
    position: relative;
    border: 2px solid #048ced;
    margin-bottom: 6px;
}
.what-exactly__item dt {
    background-repeat: no-repeat;
    background-position: 16px 13px;
    height: 60px;
    padding-top: 17px;
    position: relative;
    padding-left: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #048ced;
    cursor: pointer;
}
.what-exactly__item dd {
    display: none;
    margin-left: 23px;
    padding-bottom: 1px;
    margin-bottom: 2px;
}
.what-exactly__item .open:before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
}
.what-exactly__item dt:after{
    content: "";
    position: absolute;
    background: #048ced;
    top: 29px;
    right: 26px;
    width: 10px;
    height: 2px;
}
.what-exactly__item dt:before {
    content: "";
    position: absolute;
    background: #048ced;
    top: 29px;
    right: 26px;
    width: 10px;
    height: 2px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
}
.what-exactly__item ul {
    width: 100%;
    padding-left: 26px;
    margin-bottom: 14px;
    margin-top: 20px;
}
.what-exactly__item ul>li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 420px;
    line-height: 19px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 40px;
}
.what-exactly__item ul>li:nth-child(even){
    margin-left: 46px;
}
.what-exactly__item ul>li:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../img/gamburg-li.png") no-repeat ;
    top: 2px;
    left: -16px;
}
/* --------------- /what-exactly --------------- */

/* --------------- reviews--------------- */
.reviews{
    position: relative;
    width: 940px;
    margin: 0 auto 32px;
}
.reviews a:last-child{
    margin-bottom: 32px;
}
.reviews__layout{
    padding-left: 8px;
    margin-bottom: 4px;
}
.reviews__item{
    display: inline-block;
    vertical-align: top;
    width: 450px;
    font-size: 16px;
    margin-bottom: 67px;
}
.reviews__item:nth-child(even){
    margin-left: 25px;
}
.reviews__item div{
    display: inline-block;
    vertical-align: top;
}
.reviews__pic{
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 26px;
    margin-top: 4px;
}
.reviews__name{
    width: 297px;
}
.reviews__name span{
    display: block;
}
.reviews__name span:first-child{
    font-style: italic;
    margin-bottom: 22px;
    line-height: 18px;
}
span.reviews__purity{
   display: block;
   font-size: 18px;
   text-align: center;
   margin-bottom: 26px;
}
.reviews__next,
.reviews__prev{
    background: url("../img/slider-icon.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 227px;
    left: -66px;
    z-index: 3;
}
.reviews__next{
    background: url("../img/slider-icon01.png") no-repeat;
    background-size: contain;
    left: auto;
    right: -66px;
}
/* --------------- reviews --------------- */

/* --------------- btn --------------- */
.btn {
    display: block;
    vertical-align: middle;
    font-size: 18px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100%;
    padding: 13px 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: 3px solid #f26522;
    margin-top: 28px;
}
.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(top, #f26522 0%,#f4bba0 100%);
    background: linear-gradient(to bottom, #f26522 0%,#f4bba0 100%);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btn:hover, .btn:focus, .btn:active {
    color: white;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.btn_order{
    background: #508e4f;
    width: 212px;
    height: 50px;
    border: none;
    text-align: center;
    margin: 0 auto 57px;
    padding-top: 16px;
}
.btn_order:before {
    background: -webkit-linear-gradient(top, #008f49 0%,#0c6238 100%);
    background: linear-gradient(to bottom, #008f49 0%,#0c6238 100%);
}
/* --------------- /btn --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 14px;
    left: -11px;
}
/* --------------- /logo --------------- */

/* --------------- description --------------- */
.description{
    position: absolute;
    top: 0;
    left: 100%;
    width: 791px;
    height: 541px;
    padding: 17px 21px 0;
    margin-left: -300px;
    background: url("../img/bg-description.jpg") no-repeat;
    background-size: cover;
    box-shadow: -5px 0 7px rgba(0,0,0,.1);
}
.description__content{
    width: 270px;
    font-size: 14px;
    line-height: 18px;
}
/* --------------- /description --------------- */

/* --------------- steps --------------- */
.steps{
    position: relative;
    margin-bottom: 29px;
}
.steps:after{
    content: '';
    position: absolute;
    top: 11px;
    left: 38px;
    right: 92px;
    height: 1px;
    background-color: #e3e3e3;
    z-index: -1;
}
.steps li{
    display: inline-block;
    margin-right: 45px;
    font-size: 16px;
    text-align: center;
    color: #acacac;
}
.steps span{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 7px;
    padding-top: 3px;
    border-radius: 50px;
    color: #fff;
    background-color: #e3e3e3;
}
.steps li.active{
    color: #f59030;
}
.steps li.active span{
    background-color: #f59030;
}
.steps li.done{
    color: #508e4f;
}
.steps li.done span{
    background-color: #508e4f;
}
/* --------------- steps --------------- */

/* --------------- step-item --------------- */
.step-item fieldset{
    height: 42px;
    margin-bottom: 8px;
}
.step-item label{
    display: inline-block;
    vertical-align: top;
    width: 212px;
    height: inherit;
    padding-top: 16px;
    font-size: 14px;
}
.step-item input{
    width: 290px;
    vertical-align: top;
    height: inherit;
    padding: 0 12px;
    border: 1px solid #dadada;
    border-radius: 5px;
    font: 18px 'PT Sans', sans-serif;
}
.step-item__title{
    font-size: 22px;
    margin-bottom: 25px;
}
/* --------------- /step-item --------------- */

/* --------------- social --------------- */
.social{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    font-size: 18px;
    color:#fff;
    margin-right: 87px;
}
.social span{
    display: block;
    margin-bottom: 19px;
}
.social a{
    display: inline-block;
    vertical-align: top;
    background: url("../img/social-icon.png");
    background-position: -73px -12px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: opacity .3s ease;
    margin-right: 5px;
}
a.social-v{
    background-position: -16px -12px;
}
a.social-in{
    background-position: 271px 53px;
}
.social a:hover{
    opacity: 0.7;
}
/* --------------- /social --------------- */